{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Shows{% endblock %}
{% block content %}
<div class="row shows">
  {% if shows %}
    {%for show in shows %}
    <div class="col-sm-4">
        <div class="tile tile-show">
            <img src="{{ show.artist_image_link }}" alt="Artist Image" />
            <h4>{{ show.start_time|datetime('medium') }}</h4>
            <h5><a href="/artists/{{ show.artist_id }}">{{ show.artist_name }}</a></h5>
            <p>playing at</p>
            <h5><a href="/venues/{{ show.venue_id }}">{{ show.venue_name }}</a></h5>
            <h5>
                <button class="show-delete-button btn btn-danger btn-sm" data-id="{{ show.id }}">
                    Delete
                </button>
            </h5>
        </div>
    </div>
    {% endfor %}
  {% else %}
    <h3>There's no show yet</h3>
    <h3>
      <a href="/shows/create"><button class="btn btn-warning btn-lg">Post a show</button></a>
    </h3>
  {% endif %}
</div>
<br>

<script>
	//delete show
	const showDeleteBtns = document.querySelectorAll('.show-delete-button');
	for (let i = 0; i < showDeleteBtns.length; i++) {
	  const btn = showDeleteBtns[i];
	  btn.onclick = function(e) {
		const show_id = e.target.dataset['id'];
		fetch('/shows/' + show_id, {
		  method: 'DELETE'
		})
		.then(function() {
		  const item = e.target.parentElement;
		  item.remove();
		  location.reload();
		})
	  }
	}
</script>
{% endblock %}